.input {
    height: 40px;
    width: 100%;
    padding: 0 12px;

    color: black;

    border: 2px solid black;

    display: flex;
    align-items: center;

    &:focus {
        border: 2px solid blue;
    }

    &:hover {
        background-color: #d4d4ff;
    }
}